.hero {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  text-align: center;
}

.container {
  max-width: 850px;
}

.badge {
  font-size: 0.75rem;
  margin-bottom: 1.2rem;
  opacity: 0.6;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.5rem ;
}

.subtitle {
  font-size: 1.1rem;
  opacity: 0.8;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.primaryButton {
  padding: 1rem 2.2rem;
  border: solid 1px rgba(0, 0, 0, 0.8);
  background: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primaryButton:hover {
  transform: translateY(-3px);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  cursor: pointer;
}