.about {
  width: 100%;
  padding: 10px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.label {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  color: #fff;
  display: block;
  margin-bottom: 1rem;
}

.title {
  padding: 20px 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.4;
}

.summary {
  max-width: 800px;
  margin-bottom: 30px;
}

.summary p {
  margin-bottom: 1.5rem;
  line-height: 1.7;
  color: #fff;
}

.sectionTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.jobCard {
  border: 1px solid #e5e5e5;
  padding: 2rem;
  border-radius: 8px;
}

.jobbHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.jobbHeader h4 {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.company {
  font-size: 0.9rem;
  color: #666;
}

.period {
  font-size: 0.85rem;
  color: #888;
}

.jobCard ul {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}

.jobCard ul li {
  position: relative;
  padding-left: 22px;
  margin-bottom: 14px;
  line-height: 1.6;
  color: #fff;
  font-size: 0.95rem;
}
.jobCard ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: #111;
  border-radius: 50%;
}

.skills {
  margin-top: 100px;
}

.iconsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 25px;
}

.iconCard {
  border: 1px solid #e5e5e5;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s ease;
  background: #fff;
}

.iconCard svg {
  display: block;
  font-size: 1.5rem;
  margin-top: 0.3rem;
}

.iconCard span {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.3rem;

}
.iconCard:hover {
  transform: translateY(-5px);
  cursor: pointer;
  border-color: #333;
}

.future {
  margin-top: 100px;
  max-width: 800px;
}

.future p {
  line-height: 1.7;
  color: #333;
}