.navbar {
  height: 70px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.9);
  backdrop-filter: blur(8px);;
  z-index: 1000; 
  border-bottom: 1px solid #222;
}


h2 {
  color: #fff;
  font-size: 1.5rem;
}
.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}